.item-wrapper{
  background-color: rgb(239, 255, 255);
  padding: 10px 4%;
  margin: 15px 0px 20px 0px;
}
.bicycle-field{
  margin-right: 5px;;
}
.my-button{
  height: 38px;
  width: 115px;
  margin-left: 15px;
}