<section class="bicycle-rental">
  <div class="container">
    <div class="main-title">
      Awesome Bicycle Rental
    </div>
    <div class="title">
      Create new rent
    </div>
    <app-new-rent></app-new-rent>
    <div class="title" *ngIf="rentedBicycles.length!=0">
      Your rent (Total: ${{getTotal()}})
    </div>
    <div class="rent-inner">
      <div *ngFor="let bicycle of rentedBicycles; let i = index">
        <app-bicycle-item [bicycle]="bicycle"></app-bicycle-item>
      </div>
    </div>
    <div class="title" *ngIf="availableBicycles.length!=0">
      Available bicycles ({{availableBicycles.length}})
    </div>
    <div class="rent-inner">
      <div *ngFor="let bicycle of availableBicycles; let i = index">
        <app-bicycle-item [bicycle]="bicycle"></app-bicycle-item>
      </div>
    </div>
  </div>
</section>