.bicycle-rental{
  background-color: rgb(203, 241, 241);
  padding: 50px 0 50px 0;
}
.main-title{
  font-size: 30px;
  font-style: unset;
  margin-bottom: 30px;
}
.title{
  font-size: 18px;
  font-style: italic;
}